<p>This page has a delay to simulate a poor mobile data connection.</p>
<h3>Caching Tips</h3>
<p>
  <ul>
    <li>Make sure to turn on caching with the <code>Cache-Control</code> header.</li>
    <li>Set the <code>Last-Modified</code> header, if possible, to prevent serving the page when the client already has a version of the same age.</li>
  </ul>
</p>
<p>
  <small>{{date}}</small>
</p>
