<h1>Welcome to Neeman</h1>

<p>{{date}}<p>
<p>The main goal of Neeman is to help in the creation of hybrid apps that feel like native apps. This saves us a huge amount of development time but we have to be very careful that the app is still awesome.</p>
<p>It is very important to get <a href="/caching">caching</a> right.</p>
<p>One way we ensure that an app feels right is by using native navigation. It is not just about performance and appearance. Apple goes to a lot of effort making sure navigation transitions well. Take the navigation bar for example:</p>
<p><img src="img/examples/Navigation.gif" width="100%" /><p>
<p>Notice how nicely the text in the navigation bar fades in and out and moves to its new position.</p>

